body {
  font-family: 'Ubuntu Condensed', ariel;
  color: #696969;
  background-color: white;
}

/*navbar styling and links*/

#row {
  display: inline-block;
  vertical-align: center;

}

#logopipe {
  float: left;
  width: 100px;
  height: 60px;
}

#navbarbackground {
  background-color: none;
  height: 60px;
  padding-top: 10px;
  border: 1px solid #696969;
}

.left a {
  padding-left: 20px;
  color: #696969;
  font-size: 30px;
}


.center {
  padding-left: 20px;
  padding-top: 10px;
  color: #696969;
  font-size: 30px;
}


#homepage {
  margin-left: 10px;
  padding-left: 20px;
  vertical-align: center;
  color: #696969;
  font-size: 30px;
}

.navlinks {
  text-align: center
}


/*column 2 navbar text and link styling*/

#theman {
  margin-left: 10px;
  padding-left: 20px;
  vertical-align: center;
  color: #696969;
  font-size: 20px;
}

#lifestyle {
  margin-left: 10px;
  padding-left: 20px;
  vertical-align: center;
  color: #696969;
  font-size: 20px;
}

#begood {
  margin-left: 10px;
  padding-left: 20px;
  vertical-align: center;
  color: #696969;
  font-size: 20px;
}

#manifesto {
  margin-left: 10px;
  padding-left: 20px;
  vertical-align: center;
  color: #696969;
  font-size: 20px;
}

#wool {
  margin-left: 10px;
  padding-left: 20px;
  vertical-align: center;
  color: #696969;
  font-size: 20px;
}

#camping {
  margin-left: 10px;
  padding-left: 20px;
  vertical-align: center;
  color: #696969;
  font-size: 20px;
}

#home {
  margin-left: 10px;
  padding-left: 20px;
  vertical-align: center;
  color: #696969;
  font-size: 20px;
}

#bottoms {
  margin-left: 10px;
  padding-left: 20px;
  vertical-align: center;
  color: #696969;
  font-size: 20px;
}

#tops {
  margin-left: 10px;
  padding-left: 20px;
  vertical-align: center;
  color: #696969;
  font-size: 20px;
}

#outerwear {
  margin-left: 10px;
  padding-left: 20px;
  vertical-align: center;
  color: #696969;
  font-size: 20px;
}

/* fade on slider */

#homeslides {
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1 !important;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}


/*shop styling*/

#storefront {
  text-align: center;
  padding-top: 75px;
  font-size: 75px;
  font: #696969;
  background-color: #DCDCDC;
  height: 250px;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: -100;
}


/*#nav-right {
  text-align: center;
  vertical-align: center;
  padding-top: 15px;
  padding-left: 22%;
  font-size: 17px;
}*/








