body {
  font-family: 'Ubuntu Condensed', ariel;
  color: #545454;
  background-color: white;
}

.dapperlogo {
  font-family: 'lobster';
  font-size: 20px;
}

.logoimage {
  padding-left: 2px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.carouselcenter {
  margin: 0 auto;
  max-height: 600px;
  max-width: 700px;
}

.cause {
  padding-top: 20px;
  padding-left: 40px;
  margin: 0 auto;
  display: inline-block;
}


/*navbar styling and links*/

.glyphicon {
  font-size: 30px;
  color: #545454;
  float: right;
  margin-right: 90px;
  padding-top: 30px;
}

#row {
  display: inline-block;
  vertical-align: center;

}

#navbarbackground {
  background-color: none;
  height: 60px;
  padding-top: 10px;
  border: 1px solid #545454;
}

.left a {
  padding-left: 25px;
  color: ##545454;
  font-size: 30px;
}


.center {
  padding-left: 20px;
  padding-top: 10px;
  color: #545454;
  font-size: 30px;
}


#homepage {
  margin-left: 10px;
  padding-left: 20px;
  vertical-align: center;
  color: #545454;
  font-size: 30px;
}

#navlinks {
  text-align: center
}

.finalheader a {
  margin-left: 10px;
  padding-left: 20px;
  vertical-align: center;
  color: #545454;
  font-size: 20px;
}

.navbar-header {
  width: 100%;
}



/*shop styling*/

#storefront {
  text-align: center;
  padding-top: 75px;
  font-size: 90px;
  font: #545454;
  background-color: #ededed;
  height: 250px;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: -100;
}

#message {
  text-align: center;
  padding-top: 50px;
  font-size: 90px;
  font: #545454;
  background-color: #ededed;
  height: 250px;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: -100;
}

#statement {
  font-size: 20px;
}









