body {
  font-family: 'Ubuntu Condensed', ariel;
  color: #380000;
  background-color: white;
}

/*navbar styling and links*/

#navbarbackground {
  background-color: none;
  height: 60px;
  padding-top: 10px;
  border: 1px solid #380000;
}

#nav-left a {
  padding-left: 1px;
  color: #380000;
  font-size: 30px;
}

#newarrival {
  padding-left: 250px;
  vertical-align: center;
  color: #380000;
  font-size: 20px;

}

#theman {
  margin-left: 10px;
  padding-left: 20px;
  vertical-align: center;
  color: #380000;
  font-size: 20px;
}

#lifestyle {
  margin-left: 10px;
  padding-left: 20px;
  vertical-align: center;
  color: #380000;
  font-size: 20px;
}

#lifestyle {
  margin-left: 10px;
  padding-left: 20px;
  vertical-align: center;
  color: #380000;
  font-size: 20px;

#manifest {
  margin-left: 10px;
  padding-left: 20px;
  vertical-align: center;
  color: #380000;
  font-size: 20px;
}

#nav-left, #nav-center, #nav-right {
  display: inline-block;
  vertical-align: center;
}

#nav-right {
  text-align: center;
  vertical-align: center;
  padding-top: 15px;
  padding-left: 22%;
  font-size: 17px;
}








