<sections class="charities" id="charity">
    <div id="message">
      <h1 id="contactme">Give Dapper</h1>
      <h3 id="statement">Here are just a few of the great causes to choose from!
      <br>Go ahead, click around & see what they do to better our world!
      </h3>
    </div>
</sections>

<div class="charity">
      <div class="cause">
        <a href="https://www.unicefusa.org" target="_blank"><img src="../assets/images/charity1.png" alt="alt text" style="border:none;" /></a>
      </div>
      <div class="cause">
        <a href="https://www.redcross.org" target="_blank"><img src="../assets/images/charity2.png" alt="alt text" style="border:none;" /></a>
      </div>
      <div class="cause">
        <a href="https://wfpusa.org" target="_blank"><img src="../assets/images/charity3.png" alt="alt text" style="border:none;" /></a>
      </div>
      <div class="cause">
        <a href="http://www.surfrider.org" target="_blank"><img src="../assets/images/charity5.jpeg" alt="alt text" style="border:none;" /></a>
      </div>
      <div class="cause">
        <a href="https://www.dogstrust.org.uk/" target="_blank"><img src="../assets/images/charity6.jpeg" alt="alt text" style="border:none;" /></a>
      </div>
      <div class="cause">
        <a href="https://www.worldwildlife.org/" target="_blank"><img src="../assets/images/charity7.jpeg" alt="alt text" style="border:none;" /></a>
      </div>
      <div class="cause">
        <a href="http://www.alzfdn.org//" target="_blank"><img src="../assets/images/charity8.jpg" alt="alt text" style="border:none;" /></a>
      </div>
      <div class="cause">
        <a href="http://www.saveacat.org/" target="_blank"><img src="../assets/images/charity9.jpeg" alt="alt text" style="border:none;" /></a>
      </div>
</div>
