<sections class="charities" id="charity">
    <div id="message">
      <h1 id="contactme">Be a Dapper-Do-Gooder!</h1>
      <h3 id="statement">Pick a good cause to give 10% of your purchase proceeds to!</h3>
    </div>
</sections>

<div class="charity">
      <div class="cause">
        <a href="https://www.unicefusa.org"><img src="../assets/images/charity1.png" alt="alt text" style="border:none;" /></a>
      </div>
      <div class="cause">
        <a href="https://www.redcross.org"><img src="../assets/images/charity2.png" alt="alt text" style="border:none;" /></a>
      </div>
      <div class="cause">
        <a href="https://wfpusa.org"><img src="../assets/images/charity3.png" alt="alt text" style="border:none;" /></a>
      </div>
      <div class="cause">
        <a href="http://www.surfrider.org"><img src="../assets/images/charity5.jpeg" alt="alt text" style="border:none;" /></a>
      </div>
      <div class="cause">
        <a href="https://www.dogstrust.org.uk/"><img src="../assets/images/charity6.jpeg" alt="alt text" style="border:none;" /></a>
      </div>
      <div class="cause">
        <a href="https://www.worldwildlife.org/"><img src="../assets/images/charity7.jpeg" alt="alt text" style="border:none;" /></a>
      </div>
      <div class="cause">
        <a href="http://www.alzfdn.org//"><img src="../assets/images/charity8.jpg" alt="alt text" style="border:none;" /></a>
      </div>
      <div class="cause">
        <a href="http://www.saveacat.org/"><img src="../assets/images/charity9.jpeg" alt="alt text" style="border:none;" /></a>
      </div>
</div>
