<section class="The Mens Shop" id="menshop">
    <div id="message">
      <h1 id="contactme">Manifesto</h1>
      <h3 id="statement">The Dapper Dude not only aims to take care of himself, but the world he is a part of as well.<br>
      Giving back & being of service is good for the soul. That is why 10% of every purchase you make will go to a cause that is close to your dapper heart!<br>
      So when the going gets tought the Dapper Dude wears a smile along with a great hat and keeps on truckin'. Always giving with love and an open heart!</h3>
    </div>
</section>

