<!DOCTYPE html>
<html lang="en" ng-app="dapperApp">
<head>
   <body>
        <div class="lifestylemenu" id="life">
          <div class="navbar-header text-center">
            <div id="navlinks">
              <a id="bottoms" href="bottoms" style="text-decoration: none">Trousers</a>
              <a id="tops" href="tops" style="text-decoration: none">Tops</a>
              <a id="outerwear" href="outerwear" style="text-decoration: none">Outerwear</a>
            </div>
          </div>
        </di>
        <section class="Themensshop" id="menshop">
          <div id="storefront">
            <h1 id="mensclothing">The Man</h1>
          </div>
        </section>
    </body>
</head>

